.contactmaindiv {
  height: 300px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: center;
  overflow-y: scroll;
  opacity: 1; /* Initially set opacity to 0 */
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1; /* Set opacity to 1 when visible */
}

.App {
  overflow-x: hidden;
  width: auto;
  height: auto;
}

.address1 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 300px;
  gap: 1rem;
  /* border-top: 1px solid; */
  justify-content: center;
  align-items: center;
  position: relative; /* Added */

  opacity: 0.5;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10%;
  /* direction: ltr; */
}
.address1:hover {
  opacity: 1;
}

/* Added */
.address1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0px;
  width: 20px; /* Adjust width of scroll area */
  background: rgb(224, 120, 9); /* Adjust background color */
  z-index: 1;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transform transition */
}

.address1:hover::before {
  opacity: 1;
  transform: translateY(
    0
  ); /* Translate the pseudo-element back to its original position */
}

/* Added */
.address1:hover {
  overflow-x: hidden;
}

.add-city,
.add-landmark {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 10%;
}

.add-landmark {
  justify-content: left;
}

li {
  list-style-type: none;
}

.add-city,
.add-landmark:hover {
}

.add-city {
  font-size: 40px;
  color: #000;
  font-weight: 900;
  line-height: 40px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.li-addrestile {
  font-weight: 400px;
  line-height: 1.1;
  font-size: larger;
}
.ltext {
  font-size: 20px;
  line-height: 25px;
  color: #7e7e7e;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .address1 {
    grid-template-columns: 1fr;
  }
}
